.div1{
    background-color: blue; 
    height: 100px;
    margin-right: 1030px;}
.div2{background-color: blueviolet;
    height:100px;
    margin-top:-100px;
    margin-left:330px;}
.div3{background-color: brown;
    height: 200px;
    margin-top: 10px;}
.div4{background-color: darkgoldenrod;
    height: 100px;
    margin-top: 10px;
    margin-right: 1010px;} 
.div5{background-color: lawngreen;
    height: 100px;
    margin-top: -100px;
    margin-left: 860px;}
 .div6{background-color: red; 
    height: 100px; 
     margin-top: -100px; 
     margin-left: 350px;
     margin-right: 500px;} 
.div7{background-color: darkgreen;
    height: 100px;
    margin-top: 10px;
    margin-left: 650px;}
.div8{background-color: lavender;
    height: 100px;
    margin-top: -100px;
    margin-right:710px ;}
    .div9{background-color: rebeccapurple;
    height: 100px;
    margin-top: 10px;
    margin-right: 1030px;}
.div10{background-color: yellow;
    height: 100px;
    margin-top: -100px;
    margin-left: 1000px;
}
.div11{background-color: teal;
    height: 100px;
    margin-top: -100px;
    margin-left: 650px;
    margin-right:350px ;}
.div12{background-color: orangered;
    height: 100px;
    margin-top: -100px;
    margin-left: 330px;
    margin-right: 710px;
}
.div13{background-color: gold;
    height: 50px;
    margin-top: 10px;}
