.div1{
    background-color: blue; 
    height: 100px;
    }
.div2{background-color: blueviolet;
    height:100px;
    margin-top:10px;
   }
.div3{background-color: brown;
    height: 200px;
    margin-top: 10px;}
.div4{background-color: darkgoldenrod;
    height: 100px;
    margin-top: 10px;
   } 
.div5{background-color: lawngreen;
    height: 100px;
    margin-top: 10px;
   }
 .div6{background-color: red; 
    height: 100px; 
     margin-top: 10px; 
     } 
.div7{background-color: darkgreen;
    height: 100px;
    margin-top: 10px;
   }
.div8{background-color: lavender;
    height: 50px;
    margin-top: 10px;
   }
    .div9{background-color: rebeccapurple;
    height: 50px;
    margin-top: 10px;
    }
.div10{background-color: yellow;
    height: 50px;
    margin-top: 10px
    
}
.div11{background-color: teal;
    height: 50px;
    margin-top: 10px;}
   
.div12{background-color: orangered;
    height: 25px;
    margin-top: 10px;
   
}