.div1{
    background-color: blue; 
    height: 100px;
    margin-right: 1030px;}
.div2{background-color: blueviolet;
    height:100px;
    margin-top:-100px;
    margin-left:330px;}
.div3{background-color: brown;
    height: 200px;
    margin-top: 10px;}
.div4{background-color: darkgoldenrod;
        height: 100px;
        margin-top: 10px; 
        } 
.div5{background-color: lawngreen;
        height: 100px;
        margin-top: 10px;
       }
.div6{
     background-color: red; 
    height: 100px; 
    margin-top:10px; 
         } 
.div7{background-color: darkgreen;
            height: 100px;
            margin-top: 10px;
           } 
           .div8{background-color: lavender;
            height: 50px;
            margin-top: 10px;
            margin-left:650px ;}
            .div9{background-color: rebeccapurple;
            height: 50px;
            margin-top: -50px;
            margin-right: 710px;}
            .div10{background-color: yellow;
                height: 50px;
                margin-top: 10px;
                margin-left:650px ;   
                
            }
            .div11{background-color: teal;
                height: 50px;
                margin-top: -50px;
                margin-right: 710px;
                }
                .div12{background-color: orangered;
                    height: 25px;
                    margin-top: 10px;
                   ;
                }